# Pandas 활용 데이터 분석

1. 키보드로 세 수를 입력받고,입력받은 세 수를 리스트에 저장하시오. 그 후 리스트에 저장된 수 중 가장 큰 수와 가장 작은 수의 차를 출력하시오.

In [1]:
#1번 문제 풀이 작성
list1 = []
for e in range(0, 3) :
  list1.append(int(input(f'{e + 1}번째 수를 입력해주십시오.')))
print(max(list1) - min(list1))

9

2. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 저장된 모든 데이터의 합을 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,2,3] , [4,5,6] / 결과 : 21

In [2]:
#2번 문제 풀이 작성
def getSumList(list1, list2) :
  return sum(list1 + list2)
print(getSumList([1, 2, 3], [4, 5, 6]))

21

3. 매개변수로 두 개의 리스트를 받아, 두 개의 리스트에 중복으로 저장된 데이터만을 갖는  새로운 리스트를 리턴하는 함수를 작성하시오.  
EX> 두 매개변수 : [1,3,5,7,9] , [1,2,3,4,5] / 결과 : [1,3,5]

In [3]:
#3번 문제 풀이 작성
def getDupDataInList(list1, list2) :
  resultList = []
  for e1 in list1 :
    for e2 in list2 :
      if e1 == e2 :
        resultList.append(e1)
  return resultList
print(getDupDataInList([1, 3, 5, 7, 9], [1, 2, 3, 4, 5]))

[1, 3, 5]

4. 이름, 나이, 국어점수, 영어점수, 수학점수를 데이터로 갖는 student 딕셔너리를 만드시오. 각 데이터는 키보드로 입력받아 저장하시오.

In [4]:
#4번 문제 풀이 작성
student = {
  'name' : input('이름을 입력해주십시오')
  , 'age' : int(input('나이를 입력해주십시오.'))
  , 'korScore' : int(input('국어점수를 입력해주십시오.'))
  , 'engScore' : int(input('영어점수를 입력해주십시오.'))
  , 'mathScore' : int(input('수학점수를 입력해주십시오.'))
}
print(student)

{'name': '홍', 'age': 20, 'korScore': 90, 'engScore': 95, 'mathScore': 100}

5. 4번 문제에서 만든 딕셔너리 데이터에 총점 데이터를 추가하시오. 총점 데이터는 국어,영어, 수학점수의 합으로 들어가야합니다.

In [5]:
#5번 문제 풀이 작성
student['totalScore'] = student['korScore'] + student['engScore'] + student['mathScore']
print(student)

{'name': '홍', 'age': 20, 'korScore': 90, 'engScore': 95, 'mathScore': 100, 'totalScore': 285}

6. 아래 딕셔너리 데이터에 stu_grade라는 키를 추가하고, 해당 키의  데이터로  점수(stu_score)에 따른 등급 데이터를 저장하시오.  
90 <= 점수      : A등급  
80 <= 점수 < 90 : B등급  
70 <= 점수 < 80 : C등급  
      점수 < 70 : D등급

In [6]:
class_room_data = {
    'stu_no' : [1, 2, 3, 4, 5],
    'stu_name' : ['김자바', '이자바', '박자바', '최자바', '정자바'],
    'stu_score' : [85, 65, 70, 80, 95]
}

#6번 문제 풀이 작성
class_room_data['stu_grade'] = []
for score in class_room_data['stu_score'] :
  if score >= 90 :
    class_room_data['stu_grade'].append('A등급')
  elif score >= 80 :
    class_room_data['stu_grade'].append('B등급')
  elif score >= 70 :
    class_room_data['stu_grade'].append('C등급')
  else :
    class_room_data['stu_grade'].append('D등급')
print(class_room_data)

{'stu_no': [1, 2, 3, 4, 5], 'stu_name': ['김자바', '이자바', '박자바', '최자바', '정자바'], 'stu_score': [85, 65, 70, 80, 95], 'stu_grade': ['B등급', 'D등급', 'C등급', 'B등급', 'A등급']}

7. 아래 데이터는 자바반과 자반에 소속된 학생들의 정보이다.  
나이가 30살 이상인 학생들의 점수의 합을 출력하세요.

In [7]:
javaClass= {
  'calssName' : '자바반',
  'teacher' : '김자바',
  'studentList' : [
    {'name' : '홍길동', 'age': 31, 'score' : 85},
    {'name' : '이순신', 'age': 35, 'score' : 95},
    {'name' : '유관순', 'age': 29, 'score' : 80},
    {'name' : '장영실', 'age': 37, 'score' : 70},
    {'name' : '신사임당', 'age': 25, 'score' : 65},
  ]
}

# 7번 문제 답안 작성
sumScore = 0
for stu in javaClass['studentList'] :
  if stu['age'] >= 30 :
    sumScore += stu['score']
print(sumScore)

250

다음 딕셔너리 데이터를 참고하여 아래 문제들을 해결하시오.

In [2]:
# 2012년 광역시별 25세 미만 연령별 인구 데이터
population = {
    '행정기관' : ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'],
    '0~4세' : [214651, 68006, 53515, 69453, 29835],
    '5~9세' : [210833, 68704, 58332, 68555, 29331],
    '10~14세' : [269171, 94802, 91268, 86574, 29035],
    '15~19세' : [335828, 124564, 101110, 106435, 49119],
    '20~24세' : [343797, 125907, 96078, 102297, 43937]
}

8. 2012년 기준 대한민국에서 25세 미만의 인구수 중 인구가 가장 많은 연령대를 출력하시오.

In [3]:
# 8번 문제 답안 작성

# population 딕셔너리의 연령별 인구 총합을 저장하기 위한 list
ageSumList = []

# 가장 인구수가 많은 연령대를 저장하기 위한 변수
resultAge = ''

# population 딕셔너리의 연령별 인구 총합을 위의 리스트에 저장하는 반복문
for e in range(0, 5) :
  ageSumList.append(sum(population[f'{str(5 * e)}~{str(5 * e + 4)}세']))
print(f'연령별 인구 총합 : {ageSumList}')

# 인구가 가장 많은 연령대를 추출하기 위한 반복문
for i, ageSum in enumerate(ageSumList) :
  if max(ageSumList) == ageSum :
    resultAge = f'{str(5 * i)}~{str(5 * i + 4)}세'

print(resultAge)

연령별 인구 총합 : [435460, 435755, 570850, 717056, 712016]
15~19세

9. '총 인구수' 라는 키를 추가하고, 해당 키에 0세부터 24세까지의 인구 합을 데이터로 하여 population 데이터에 추가하시오.

In [4]:
# 9번 문제 답안 작성
population['totalPopulation'] = ageSumList
print(population)

{'행정기관': ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '울산광역시'], '0~4세': [214651, 68006, 53515, 69453, 29835], '5~9세': [210833, 68704, 58332, 68555, 29331], '10~14세': [269171, 94802, 91268, 86574, 29035], '15~19세': [335828, 124564, 101110, 106435, 49119], '20~24세': [343797, 125907, 96078, 102297, 43937], 'totalPopulation': [435460, 435755, 570850, 717056, 712016]}